<h1>Hi there 👋</h1>
<p>Welcome to this example app!</p>
<p>Some topics to explore in this app:</p>

<div class="list-group mt-4">
  <%= link_to "ENV Switch", env_switch_path, class: "list-group-item list-group-item-action p-3" %>
  <%= link_to "Camera Access", camera_access_path, class: "list-group-item list-group-item-action p-3" %>
  <%= link_to "Pop Until", test_1_path, class: "list-group-item list-group-item-action p-3" %>
</div>
